.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  /* position: relative; instead of isolation on controlPane */
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed; 
  right: 64px; /* left: 60% */
  top: 128px;
  min-height: 500px;
  width: 30%; /* bottom: 5% */
}

.controlColumn {
  width: 50%;
}

.background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}

@media (max-width: 768px) {
  .characterEditor {
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .header {
    width: 100%;
    padding-bottom: 32px;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .characterWrapper {
    position: relative;
    width: 100%;
    right: auto;
    top: 0;
    margin-bottom: 32px;
  }

  .controlColumn {
    position: fixed;
    bottom: 64px;
    left: 0;
    overflow: auto;
    width: 100%;
    display: flex;
    padding: 0 16px;
    gap: 16px;
  }
}
