.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed; 
  right: 64px;
  top: 128px;
  min-height: 500px;
  width: 30%;
}

.controlColumn {
  width: 50%;
}

.background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}
