.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;

  a {
    color: white;
  }
}

@media (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
}